body, html{
    margin:0;
}

header {
    text-align: right;
    padding: 10px;
    background-color: aqua;
}

.button {
    color: darkred;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.pitch {
    width: 60%;
    height: 75%;
    background-color: aqua;
    line-height: 1.5;
    word-spacing: 2px;
    font-size: 20px;
    margin: 10% 20% 10% 20%;
}

footer{
    background-color: aqua;
    height: 10%;
    width: 100%;
}