body, html{
    margin:0;
    background-color: black;
}

header {
    text-align: right;
    padding: 10px;
    background-color: aqua;
}

.button {
    color: darkred;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.prosject-btn,
.about-btn{
    border-radius: 50%;
    color: yellow;
    background-color: black;
}

h1{
    font-size: 36px;
    text-align: center;
    color: yellow;
}

p{
    color: yellow;
    background-color: #696969;
    line-height: 1.5;
    word-spacing: 2px;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
