body, html{
    margin:0;
    background-color: black;
}

header {
    text-align: right;
    padding: 10px;
    background-color: #C0C0C0;
}

.button {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.prosject-btn,
.about-btn,
.home-btn {
    border-radius: 50%;
    color: #D4AF37	;
    background-color: black;
}

.link-tag:hover{
    color: red;
}

.link-btn:hover{
    color: red;
}

h1{
    font-size: 36px;
    text-align: center;
    color: #D4AF37	;
}

p{
    color: #D4AF37	;
    line-height: 1.5;
    word-spacing: 2px;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.table-prosj,
.link-prosj,
.iframe-prosj {
    width: fit-content;
    height: fit-content;
    background-color: #C0C0C0;
    text-align: center;
}

.link-tag{
    font-size: 18px;
}